(Type bool)
(Type int)
(Type float)
(Type std::string "#include <iostream>")

(ComponentInterface RadioBlockData
		    (bool ap_hdghold_mode (Default false))
		    (bool ap_althold_mode (Default false))

		    (bool ap_hdghold_transition (Default false))
		    (bool ap_althold_transition (Default false))

		    (float dme    (Default 0.0))
		    (float course (Default 0.0))

		    (int curVerticalState (Default 0))
		    (int curLateralState (Default 0))
		    (int APstate (Default 0))
		    (float altitude_target (Default 0.0))
		    (float target_vs (Default 0.0))
		    (float hdg_bug (Default 0.0))
		    (int ap_armed (Default 0))
		    (float target_speed (Default 0.0))
		    (float alt_hold (Default 0.0))
		    (bool ap_flash (Default false))
		    (bool pit_flash (Default false))
		    (bool rol_flash (Default false))
		    (int active_nav_source (Default 0))
		    (int vnav_situation (Default 0))
		    (float brg (Default 0.0))
		    (int alts_flash_state (Default 0))
		    (int alt_flash_state (Default 0))
		    (bool ADC_failure (Default false))
		    (bool VOR_failure (Default false))
		    (bool PFD_failure (Default false))
		    (std::string fp_name)
				(int active_leg (Default 0))
)
