(Type float)
(Type int)
(Type bool)

(ComponentInterface AirspeedTapeData
		    (float Vias         (Default 0.0))
		    (float Vtas         (Default 0.0))
		    (float Vc_gamma_max (Default 0.0))
                    (float speed_target (Default 0.0))
                    (float Vmin         (Default 0.0))
                    (float Vmax         (Default 0.0))   
		    (int curVerticalState (Default 0.0))
		    (float vtasdot (Default 0.0))
		    (bool clogged_pt (Default false))
		    (bool clogged_sp (Default false))
		    (bool ADC_failure (Default false))
		    (float altitude (Default 0.0))
		    (float dt (Default 0.01))
)		    
