(Type float)
(Type int)
(Type bool)
(Type std::string "#include <iostream>")

(ComponentInterface HSIData
		    (float heading   (Default 0.0))
		    (float dme       (Default 0.0))
		    (float course    (Default 0.0))
		    (float deviation (Default 0.0))
		    (float offset    (Default 0.0))
		    (float needle_deviation (Default 0.0))
		    (int active_nav_source (Default 0))
		    (bool VOR_failure (Default false))
		    (bool HSI_failure (Default false))
		    (bool GMU_failure (Default false))
		    (bool AFCS_rol (Default false))
		    (bool vor_flag_state (Default true))
		    (std::string fp_name)
 )
